<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">

    <link href="https://fonts.googleapis.com/css?family=Raleway:100" rel="stylesheet">

    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.2/dist/jquery.fancybox.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="main.css">
</head>

<body>
    <div id="app">

        <div data-role="page" id="home">
            <div role="main" class="ui-content">
                <div class="image">
                    <img alt="logo" src="nysl_logo.png" class="responsive logo">
                </div>
                <div class="container">
                    <div class="main-buttons">
                        <div class="main-buttons-top">
                            <p><a href="#upnext"><button class="btn btn-secondary btn-lg weekly-button"><img class="up_next-logo" alt="this week" src="Dave%20Gandy%20but%20better.png"></button></a></p>
                            <p><a href="#maps"><button class="btn btn-secondary btn-lg maps-button"><img class="maps-logo" alt="maps" src="256-256-7ff7b722e290a4e7aa4db5c50e8330a0-pin.png"></button></a></p>
                        </div>

                        <div class="main-buttons-bottom">
                            <p><a href="#filter"><button class="btn btn-secondary btn-lg schedule-button"><img class="schedule-logo" alt="schedule" src="256-256-623f22d5faa4e3d4d947ec3f8495d151-calendar.png"></button></a></p>
                            <p><a href="#login"><button class="btn btn-secondary btn-lg chat-button"><img class="chat-logo" alt="chat" src="icon_social-media1-300x225.png"></button></a></p>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div data-role="page" id="upnext">

            <div>
                <p><a href="#"><button class="btn btn-secondary btn-lg livechat-button">Live Chat</button></a></p>
            </div>

            <div role="main" class="ui-content">

                <div class="container">
                    <div>
                        <h4 class="schedule-title">This Week</h4>
                    </div>
                    <div class="table-responsive-sm">
                        <table class="table table-hover">
                            <thead class="thead-light text-center t-head">
                                <tr>
                                    <th>Date</th>
                                    <th>Teams</th>
                                    <th>Location</th>
                                    <th>Time</th>
                                </tr>
                            </thead>
                            <tbody v-for="game in allGames">
                                <tr v-if="game.date == '9/01'">
                                    <td>{{game.date}}</td>
                                    <td>{{game.teams.host}} & {{game.teams.visitor}}</td>
                                    <td>
                                        <p><a href="#maps">{{game.location}}</a></p>
                                    </td>
                                    <td>{{game.time}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>

            <div>
                <p><a href="#home"><button class="btn btn-secondary btn-lg back-button">Back</button></a></p>
            </div>
        </div>


        <div data-role="page" id="filter">

            <div>
                <p class="bg-secondary btn-lg">Teams</p>
            </div>

            <div role="main" class="ui-content">
                <div class="container-fluid">
                    <div class="filter-buttons">
                        <div class="filter-buttons-all">
                            <div v-for="team in allTeams">
                                <p><a href="#schedule" @click="fillFilterArray(team)"><button class="btn btn-secondary btn-lg all-button">{{team}}</button></a></p>
                            </div>
                            <p><a href="#schedule" @click="fillFilterArray('all')"><button class="btn btn-secondary btn-lg all-button">All</button></a></p>
                        </div>
                    </div>
                </div>

            </div>

            <div>
                <p><a href="#home"><button class="btn btn-secondary btn-lg back-button">Back</button></a></p>
            </div>
        </div>

        <div data-role="page" id="schedule">

            <div>
                <p><a href="#"><button class="btn btn-secondary btn-lg livechat-button">Live Chat</button></a></p>
            </div>

            <div role="main" class="ui-content">
                <div class="container">
                    <div>
                        <h4 class="schedule-title">Game Schedule</h4>
                    </div>
                    <div class="table-responsive-sm">
                        <table class="table table-hover">
                            <thead class="thead-light text-center t-head">
                                <tr>
                                    <th>Date</th>
                                    <th>Teams</th>
                                    <th>Location</th>
                                    <th>Time</th>
                                </tr>
                            </thead>
                            <tbody v-for="game in filterArray">
                                <tr>
                                    <td>{{game.date}}</td>
                                    <td>{{game.teams.host}} & {{game.teams.visitor}}</td>
                                    <td>
                                        <p><a href="#maps">{{game.location}}</a></p>
                                    </td>
                                    <td>{{game.time}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>

            <div>
                <p><a href="#filter"><button class="btn btn-secondary btn-lg back-button">Back</button></a></p>
            </div>
        </div>


        <div data-role="page" id="maps">

            <div>
                <p><a href="#"><button class="btn btn-secondary btn-lg back-button">Live Chat</button></a></p>
            </div>

            <div role="main" class="ui-content">
                <div class="container-fluid">
                    <div class="map-buttons">
                        <div v-for="location in allLocations" class="map-buttons-all">
                            <a data-fancybox data-type="iframe" :href="location.url">
                                <button class="btn btn-secondary btn-lg location1-button">{{location.school}}
                                </button>
                            </a>
                        </div>
                    </div>
                </div>

            </div>

            <div>
                <p><a href="#home"><button class="btn btn-secondary btn-lg back-button">Back</button></a></p>
            </div>
        </div>

        <div data-role="page" id="login">

            <div role="main" class="ui-content">
                <div>
                    <h2>Please Log In</h2>
                    <form action="/action_page.php">
                        Username:<br>
                        <input type="text" name="username" placeholder="Type your Username...">
                        <br>
                        Password:<br>
                        <input type="text" name="password" placeholder="Type your Password...">
                        <br><br>
                        <input type="submit" value="Submit">
                    </form>
                </div>

            </div>

            <div>
                <p><a href="#home"><button class="btn btn-secondary btn-lg back-button">Back</button></a></p>
            </div>
        </div>

        <div data-role="page" id="chat">

            <div role="main" class="ui-content">

            </div>

            <div>
                <p><a href="#login"><button class="btn btn-secondary btn-lg back-button">Back</button></a></p>
            </div>

        </div>

    </div>



    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>

    <script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.2/dist/jquery.fancybox.min.js"></script>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="main.js"></script>

</body>

</html>
